* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151922;
    font-family: sans-serif, 'Arial';
    color: #FBFBFA;
}

/* .container {
    background-image: url("/resources/site_imgs/Landing-page-bg.png");
    background-size: cover;
} */

/* Navbar start */

header {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #1519226e;
    padding: 12px 30px;
    border-bottom: 1px solid #A6DEF6;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.sub-btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #A6DEF6;
    cursor: pointer;
    background-color: transparent;
    color: #FBFBFA;
    transition: all 0.3s ease;
}

.sub-btn:hover {
    background-color: #27496E;
    border: 1px solid transparent;
}

.logo {
    width: 70px;
    padding-bottom: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 80px;
}

a {
    color: #FBFBFA;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

a:hover {
    color: #A6DEF6;
    font-style: italic;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-right .cart {
    width: 40px;
}

.nav-right .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
}
/* .nav-right .cart:hover {

} */

/* Navbar end */
 
/* Hero start */

.hero {
    position: relative;
    background-color: #151922;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #27496E;
}

.hero-left {
    padding-left: 120px;
}

.hero h1 {
    color: #FBFBFA;
    font-size: 58px;
    letter-spacing: 2px;
    line-height: 100px;
}

.hero button {
    padding: 18px 48px;
    margin-top: 20px;
    border: 1px solid transparent;
    background-color: #27496E;
}

.hero button:hover {
    background-color: transparent;
    border: 1px solid #A6DEF6;
}

.hero img {
    width: 50%;
}
/* Hero end */

/* Card start */

.market-place {
    
}

.cards {
    padding: 60px;

}

.cards .card1 {
    padding: 50px;
    background-color: rebeccapurple;
}

/* Footer start */

footer {
    background-color: #171f2f;
    color: #FBFBFA;
}

.footer_bothside {
    padding-top: 50px;
    padding-bottom: 40px;
    justify-content: center;
    border-top: 1px solid #001135;
}

.footer_icons {
    display: flex;
    padding-bottom: 40px;
    gap: 40px;
    justify-content: center;
}

.footer_icons img {
    cursor: pointer;
}

.footer_texts {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.footer_texts span a {
    text-decoration: none;
    cursor: pointer;
}

.footer_bottom {
    width: 100%;
    padding: 14px 0;
    background-color: #151922;
    text-align: center;
    border-top: 1px solid #001135;
}

/* Footer end */